<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>name</key>
	<string>Project Check</string>
	<key>uuid</key>
	<string>FC5F12CA-37D2-4414-9F92-3CEB2B0287C0</string>
</dict>
</plist>
